<!-- templates/form_ejercicio2.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>Inicio de Sesión</h1>
        <form action="/ejercicio2" method="post">
            <div class="form-row">
                <label for="nombre_usuario">Ingresa tu nombre:</label>
                <input type="text" id="nombre_usuario" name="nombre_usuario" required>
            </div>
            <div class="form-row">
                <label for="contrasena">Ingresa tu contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" required>
            </div>
            <div class="form-row">
                <button class="small-button" type="submit">Verificar</button>
            </div>
            {% if resultado %}
                <div class="result-container">
                    <h2 class="result-title">Resultado:</h2>
                    <p>{{ resultado.mensaje }}</p>
                </div>
            {% endif %}
        </form>
    </div>
</body>
</html>